// app global css
.sm-size
    font-size: 1rem !important

.s-size
    font-size: 1.5rem !important

.m-size
    font-size: 2rem !important

.l-size
    font-size: 2.5rem !important

.xl-size
    font-size: 3rem !important

.half-width
    width: 50% !important

.btn-carousel
  color #FFFFFF;
  background rgba(0, 0, 0, .3);

.carousel-slide
  background-color: #4b4b4be0;
  background-size: contain !important;
  background-position: center;
  background-repeat: no-repeat;

.modal-dark .modal-content
  background: rgba(0, 0, 0, 0.8) !important;
  color #FFFFFF;

.modal-dark .modal-body
  color: #FFFFFF !important;

.midia
  background-color:#4b4b4be0 !important;
